.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: all 0.3s;
}

.content {
    margin-left: 250px;
    width: 100%;
    transition: all 0.3s;
}

.header {
    position: fixed;
    padding-left: 250px;
}

/*.paginate_button {*/
/*    background-color: #6c757d !important;*/
/*    padding: 10px 14px;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.paginate_button.current {*/
/*    background-color: #0d6efd !important;*/
/*}*/

/*.paginate_button.previous {*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-left-radius: 10px;*/
/*}*/

/*.paginate_button.next {*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

.btn-square {
    display: flex;
    width: 40px;
    height: 40px !important;
    line-height: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    div#admin_categories_paginate {
        margin-top: 14px;
        margin-bottom: 14px;
    }
}

.collapse_btn {
    position: absolute;
    top: 15px;
    right: -20px;
    border-radius: 50%;
}

.sidebar.collpased {
    margin-left: -230px;
}

.content.collapsed {
    margin-left: 20px !important;
}
