.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 20px;
}

.content {
    margin-left: 250px;
    width: 100%;
}

.header {
    position: fixed;
    padding-left: 250px;
}

.paginate_button {
    background-color: #6c757d !important;
    padding: 10px 14px;
    text-decoration: none;
    color: white;
}

.paginate_button.current {
    background-color: #0d6efd !important;
}

.paginate_button.previous {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.paginate_button.next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 992px) {

}
