@media only screen and (max-width: 992px) {
    .toggle-navbar {
        display: block;
    }

    .mobile-navbar.active {
        display: block;
        position: fixed;
        padding: 20px;
        text-align: center;
        z-index: 300;
        top: 116px;
        background-color: var(--primary-color);
        width: 300px;
        right: 0;
        transition: all 0.3s;
    }

    .mobile-navbar .btn-primary {
        border-color: black !important;
        border: 2px solid;
    }

    .mobile-navbar .btn-secondary {
        color: white !important;
    }

    .mobile-navbar a {
        color: black !important;
    }

    .map {
        width: 400px;
    }
    
    .footer ul {
        margin-bottom: 30px !important;
    }
}