@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');

:root {
    --primary-color: #fdca6e;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    overflow-x: hidden;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #2e2c36 !important;
}

.btn {
    padding: 10px 24px !important;
    font-weight: 700 !important;
}

.btn-secondary {
    background-color: transparent !important;
    color: #2e2c36 !important;
    border: 2px solid #ecebf2 !important;
}

.nav-section {
    background-image: url('/assets/images/header-image.png');
    height: 600px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.nav-section h4 {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-color) !important;
    margin-bottom: 0;
}

.nav-section h3 {
    font-size: 50px;
    font-weight: 700;
}

.burgergod-navbar {
    background: #00000030;
    transition: all 0.3s;
}

.photo-gallery h4 {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-color) !important;
    margin-bottom: 0;
    position: relative;
}

.photo-gallery h4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #c9c9c9;
    left: 40%;
    bottom: -10px;
}

.photo-gallery h5 {
    letter-spacing: 1.6px;
}

.where-we-are h4 {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-color) !important;
    margin-bottom: 0;
    position: relative;
}

.where-we-are h4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #c9c9c9;
    left: 40%;
    bottom: -10px;
}

.where-we-are h5 {
    letter-spacing: 1.6px;
}

.about {
    position: relative;
}

.burger {
    position: absolute;
    width: 200px;
    opacity: 0.3;
}

.burger-2 {
    position: absolute;
    width: 220px;
    opacity: 0.3;
    left: 0;
    transform: rotate(325deg);
    bottom: 0;
}

.burger-3 {
    position: absolute;
    width: 250px;
    opacity: 0.3;
    right: 0;
    transform: rotate(325deg);
    bottom: 50%;
}

.about h4 {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-color) !important;
    margin-bottom: 0;
    position: relative;
}

.about h4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #c9c9c9;
    left: 40%;
    bottom: -10px;
}

.about h5 {
    letter-spacing: 1.6px;
}

.burger-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #cdcdcd;
}

.burger-image::after {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.burger-image .btn {
    position: absolute;
    z-index: 5;
    opacity: 0;
    margin-bottom: -50px;
    transition: all 0.3s ease-in-out;
}

.burger-image:hover::after {
    opacity: 0.5;
}

.burger-image:hover .btn {
    opacity: 1;
    margin-bottom: 0rem;
}

.burger-title {
    font-size: 22px;
    margin: 0;
}

.location-text {
    font-size: 18px;
    font-weight: 600;
}

.location-text i {
    width: 35px;
}

.custom-input {
    border: 2px solid #ecebf2;
    width: 100%;
    /* background-color: #ededed; */
    padding: 14px 20px;
    outline: none;
    transition: all 0.3s;
    border-radius: 4px;
}

.custom-input:focus {
    border-color: var(--primary-color);
}

.footer {
    padding: 55px 0 30px 0;
}

.footer ul li {
    margin-bottom: 10px;
    position: relative;
    color: #646464;
    padding-left: 22px;
}

.footer ul li::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 7px;
    border-radius: 50%;
}

.footer a {
    color: #646464 !important;
    text-decoration: none !important;
    font-weight: 600;
}

.footer ul li:last-child {
    margin-bottom: 0;
}

.footer h4 {
    /* margin-left: -18px; */
    font-weight: 600;
    color: #2e2c36;
}

.copyright p {
    margin-bottom: 0;
    text-align: center;
    margin-top: 37px;
    color: #646464 !important;
    font-weight: 300;
}

.copyright a {
    color: var(--primary-color) !important;
}

.where-we-are {
    margin-bottom: 6rem;
}

.toggle-navbar {
    display: none;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #2e2c36;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 4px;
}

.mobile-navbar {
    display: block;
    position: fixed;
    padding: 20px;
    text-align: center;
    z-index: 300;
    top: 116px;
    background-color: var(--primary-color);
    width: 300px;
    right: -300px;
    transition: all 0.3s;
}

.map {
    width: 630px;
    height: 450px;
    border-radius: 10px;
}

.burgergod-navbar.active {
    background-color: rgba(0, 0, 0, 0.884);
    box-shadow: 0 0 20px black;
}

.btn {
    box-shadow: none !important;
}

.form-check-input {
    border-radius: 50% !important;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.form-check-input:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25rem rgb(253 190 13 / 25%) !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: var(--primary-color) !important;
}

.nav-link.active {
    color: var(--primary-color) !important;
}

.nav-link {
    color: #646464 !important;
}

.account-sidebar {
    width: 350px;
    height: max-content;
}

.btn-secondary.active {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: black !important;
}

.btn-square {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    outline: unset;
    border: unset;
}

.quantity-group {
    width: 145px;
    position: relative;
    border-radius: 50px;
}

.quantity-group button {
    outline: none;
    border: none;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.quantity-group button:first-child {
    position: absolute;
    left: 10px;
    bottom: 18%;
}

.quantity-group button:last-child {
    position: absolute;
    right: 10px;
    bottom: 18%;
}

.quantity-group input {
    outline: none;
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    border: 1px solid #dddddd;
}
.cart-image {
    width: 140px !important;
    border-radius: 12px;}

.delete-product {
    outline: none;
    border: none;
    background-color: unset;
    color: #de2828;
}

.stepper{
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 5rem;
}
.stepper .step{
    width:100%;
    height: 3rem;
    position:relative;

}

/* .stepper .step:last-child{
    width: unset;
} */

.stepper .step .stepIcon i {
    width: 3rem;
    height: 3rem;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.stepper .step:not(:last-child) .stepIcon::after{
    content:"";
    position: absolute;
    height: 0.2rem;
    background-color: gray;
    left: 50%;
    top:50%;
    width:100%;
    z-index: -1;
}

.stepper .step.active:not(:last-child) .stepIcon::after{
    background-color: var(--primary-color);
}

.stepper .step.complete:not(:last-child) .stepIcon::after{
    background-color: var(--primary-color);
}

.stepper .step.complete .stepIcon > i {
    background-color: var(--primary-color) !important;
}

.stepper .step.active .stepIcon> i {
    background-color: var(--primary-color) !important;
}


.stepper .step.active .stepIcon i::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    left: 0;
    bottom: 0;
    outline:2px dashed var(--primary-color);
    outline-offset: 2px;
    border-radius: 50%;
    animation: circle 6s linear infinite;
}

.stepIcon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.stepper .step .stepIcon p{
    font-size: 18px;
}

.stepper .step .stepIcon .date{
    font-size: 10px;
    font-weight: 500;
}

@keyframes circle{
    0%{
        transform:rotate(0deg)
        rotate(0deg);

    }
    100%{
        transform:rotate(360deg);
    }
}

.navbar_link {
    text-decoration: unset;
    color: #2e2c36;
    font-size: 18px;
    font-weight: 500;
}

.navbar_link.active {
    font-weight: 600;
}

a:hover {
    color: #2e2c36 !important;
}

.feature-bg {
    box-shadow: 0px 4px 20px #0000000d;
    border-radius: 10px;
    padding: 30px 10px;
}

.top-header h1 {
    font-size: 56px;
}

.product-bg img {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.swiper-slide {
    box-shadow: 0 0 20px #00000014;
    border-radius: 12px;
    height: unset !important;
}

.menu_product_bg {
    box-shadow: 0 0 20px #0000001a;
    border-radius: 10px;
    padding: 20px;
    height: 180px;display: flex;}

.buy-now {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.swiper {
    padding: 18px !important;
}

.order-now {
    position: absolute;
    top: 80%;
    right: 40%;
    font-size: 28px;
    width: 60px;
    height: 60px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: unset !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white !important;
}

.category-title {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 48px;
    color: #212529 !important;
    margin-bottom: 0;
    position: relative;
}

.category-title::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 20%;
    background-color: #212529;
    left: 40%;
    bottom: -10px;
}

section.menu {
    background-color: var(--primary-color);
    padding: 20px 0;
    margin-top: 50px;
}

.product-bg {
    background: white;
    border-radius: 14px;
    height: 100%;
}

section.top-header.mt-3 {
    height: 831px;
    display: flex;
    align-items: flex-end;
}

.gallery-img {
    border-radius: 14px;
}

.item-info {
    position: absolute;
    background: #00000024;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #212529;
    top: 15px;
    right: 15px;
}

.item-info-left {
    position: absolute;
    background: #ffffff24;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #f1f1f1;
    top: 15px;
    left: 15px;
    padding: 10px;
}

.item-info-right {
    position: absolute;
    background: #ffffff24;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #f1f1f1;
    top: 15px;
    right: 15px;
    padding: 10px;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.menu_product_bg img {
    border-radius: 10px;
    height: 100%;}

.top-header-gap {
    gap: 1.5rem!important;
}

.call-us {
    background: #fdca6e;
    background-position-y: -192px;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.website_navbar {
    position: relative;
}

.phone-number {
    background-color: #ffffff;
    padding: 20px 30px;
    /* width: 270px; */
    border-radius: 10px;
    text-decoration: unset;
    color: #212529;
    outline: unset;
    border: unset;
    font-weight: 700;
}

.mobile_navbar_btn {
    top: 20px;
    left: 20px;
    display: none;
}

.mobile_navbar {
    position: fixed;
    z-index: 1000;
    height: 100%;
    background: white;
    box-shadow: unset;
    width: 240px;
    text-align: center;
    padding: 30px;
    margin-left: -240px;
    opacity: 0;
    transition: all 0.3s;
}

.mobile_navbar.active {
    box-shadow: 0 0 20px #0000002b !important;
    margin-left: 0 !important;
    opacity: 1 !important;
}

.btn-square:focus {
    box-shadow: unset !important;
}

.btn-square:active {
    box-shadow: unset !important;
}

.nav-breadcrumb {
    box-shadow: 0 0 20px #0000001a;
    padding: 20px 40px;
    border-radius: 10px;
}

.page {
    color: #21252991;
    text-decoration: unset;
    font-weight: 500;
}

.current-page {
    font-weight: 500;
    text-decoration: unset;
    color: #212529;
}

.separator {
    font-size: 6px;
    color: #212529;
}

.product-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart-bg {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.cart-item img {
    border-radius: 10px;
}

.checkout-details {
    box-shadow: 0 6px 20px #00000021;
    border-radius: 10px;
}

.order-notifications {
    position: fixed;
    z-index: 100000;
    bottom: 22px;
    right: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-notifications .bg-warning {
    border-radius: 10px;
    box-shadow: 0 5px 20px #0000004d;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.order-notifications .fa-spinner-third {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}


.page-item.active .page-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #212529 !important;
}

.product-image {
    border-radius: inherit;
    position: relative;
}
